.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogsItems {
  padding: 10px;
  color: white;
}

.dialogsItems a {
  text-decoration: none;
}

.dialog img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.dialogsItems .active {
    color: rgb(128, 24, 33);
}

.dialog {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 8px;
}

.messages {
  padding: 10px;
}

.messages .message {
  display: flex;
  justify-content: flex-start;
  color: black;
  width: 50%;
} 

.messages .message:nth-child(2n) {
  justify-content: flex-end;
}

.messages .message p {
  padding: 3px;
  border-radius: 10px;
  border: 1px solid gray;
  background-color: white;
}
